@{
    ViewBag.Title = "EditProfile";
}
@model Scheduler_Web.Models.Profile


<script src="~/Scripts/bootstrap-datepicker.min.js"></script>
<link href="~/Css/bootstrap-datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.js"></script>
<link href="~/Css/jquery.timepicker.css" rel="stylesheet" />


<div class="container" id="div_newactivity">

    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary" style="border-color: #9d9595; border-radius: 5px; background-color: #f2f1f1">
                <div class="panel-body" style="margin-bottom: 20px">

                    <div class="text-center">
                        <label id="purpose" style="color: green">Update Scheduled Profile</label>
                    </div>

                    <div class="text-center">
                        <label id="error" style="color: red; visibility: hidden">Please fill out all the fields</label>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" value="@Model.Title" required="required" id="title" onclick="hide()" placeholder="Enter title">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control" id="ringingMode" onclick="hide()">
                                <option>Select Ringing Mode</option>
                                <option>Silent</option>
                                <option>Vibrate</option>
                                <option>Ringing</option>
                            </select>
                        </div>
                        @if (Model.RingingMode.Equals("Silent"))
                        {
                            <script>
                                var mode = document.getElementById("ringingMode");
                                mode.options[1].selected = true;
                            </script>
                        }
                        else if (Model.RingingMode.Equals("Vibrate"))
                        {
                            <script>
                                var mode = document.getElementById("ringingMode");
                                mode.options[2].selected = true;
                            </script>
                        }
                        else if (Model.RingingMode.Equals("Ringing"))
                        {
                            <script>
                                var mode = document.getElementById("ringingMode");
                                mode.options[3].selected = true;
                            </script>
                        }
                    </div>


                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="to">Wifi:</label>
                                <select class="form-control" id="wifi" onclick="hide()">
                                    <option>Select option</option>
                                    <option>On</option>
                                    <option>Off</option>
                                </select>
                            </div>
                            @if (Model.Wifi.Equals("On"))
                            {
                                <script>
                                    var mode = document.getElementById("wifi");
                                    mode.options[1].selected = true;
                                </script>
                            }
                            else if (Model.Wifi.Equals("Off"))
                            {
                                <script>
                                    var mode = document.getElementById("wifi");
                                    mode.options[2].selected = true;
                                </script>
                            }
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="to">Flashlight:</label>
                                <select class="form-control" id="flashlight" onclick="hide()">
                                    <option>Select option</option>
                                    <option>On</option>
                                    <option>Off</option>
                                </select>
                            </div>
                            @if (Model.Flashlight.Equals("On"))
                            {
                                <script>
                                    var mode = document.getElementById("flashlight");
                                    mode.options[1].selected = true;
                                </script>
                            }
                            else if (Model.Flashlight.Equals("Off"))
                            {
                                <script>
                                    var mode = document.getElementById("flashlight");
                                    mode.options[2].selected = true;
                                </script>
                            }
                        </div>
                    </div>




                    <div class="row">
                        <div class='col-md-12'>
                            <div class="form-group">
                                <!-- Date input -->
                                <label class="control-label" for="date">Select specific date:</label>
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-th" style="color: red"></span>
                                    </span>
                                    <input class="form-control" id="date" onclick="hide()" placeholder="D-M-YYYY" type="text" />
                                    <span class="input-group-addon">
                                        <button id="btn_clear" class="glyphicon glyphicon-trash" style="color: red"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <select class="form-control" id="dayselector" onclick="hide()">
                                <option>Or select repeating day</option>
                                <option>Daily</option>
                                <option>Odd Days</option>
                                <option>Even Days</option>
                            </select>
                        </div>
                        @if (!Model.Date.Contains("-"))
                        {
                            if (Model.Date.Equals("Daily"))
                            {
                            <script>
                                var day = document.getElementById("dayselector");
                                day.options[1].selected = true;
                            </script>
                            }
                            else if (Model.Date.Equals("Odd Days"))
                            {
                            <script>
                                var day = document.getElementById("dayselector");
                                day.options[2].selected = true;
                            </script>
                            }
                            else if (Model.Date.Equals("Even Days"))
                            {
                            <script>
                                var day = document.getElementById("dayselector");
                                day.options[3].selected = true;
                            </script>
                            }
                        }
                    </div>




                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Time input -->
                                <label class="control-label" for="from">From Time:</label>
                                <div class="input-group timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time" style="color: red"></i></span>
                                    <input class="form-control" value="@Model.From" id="from" onclick="hide()" placeholder="H:MM" type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!-- Time input -->
                                <label class="control-label" for="to">To Time:</label>
                                <div class="input-group timepicker">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time" style="color: red"></i></span>
                                    <input class="form-control" value="@Model.To" id="to" onclick="hide()" placeholder="H:MM" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row" style="margin-top: 20px">
                        <div class="col-md-12">
                            <button id="btn_update" type="button" class="btn btn-success btn-block">Update</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div>



<script type="text/javascript">

    var date_input = $('input[id="date"]'); //our date input has the name "date"
    var options = {
        format: 'd-m-yyyy',
        todayHighlight: true,
        autoclose: true,
        startDate: '0m',
        endDate: ''
    };
    date_input.datepicker(options);

    $("#from").timepicker();
    $("#to").timepicker();



    function hide() {
        document.getElementById("error").textContent = "Please fill out all the fields";
        document.getElementById("error").style.visibility = "hidden";
    }


    $(document).ready(function () {

        $('#btn_clear').click(function () {
            document.getElementById("date").value = "";
        });

        $('#btn_update').click(function () {

            var validated = true;
            var selectedDate = "";

            var title = $("#title").val();
            var ringingMode = document.getElementById("ringingMode");
            var wifi = document.getElementById("wifi");
            var flashlight = document.getElementById("flashlight");
            var date = $("#date").val();
            var daySelector = document.getElementById("dayselector");
            var from = $("#from").val();
            var to = $("#to").val();

            if (title.length == 0 || from.length == 0 || to.length == 0) {
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (ringingMode.options[ringingMode.selectedIndex].
                value == "Select Ringing Mode") {
                document.getElementById("error").textContent = "Select a ringing mode";
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (wifi.options[wifi.selectedIndex].
                value == "Select option") {
                document.getElementById("error").textContent = "Select a wifi state";
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (flashlight.options[flashlight.selectedIndex].
                value == "Select option") {
                document.getElementById("error").textContent = "Select a flashlight state";
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (date.length == 0 && daySelector.options[daySelector.selectedIndex].
                value == "Or select repeating day") {
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (date.length != 0 && daySelector.options[daySelector.selectedIndex].
                value != "Or select repeating day") {
                document.getElementById("error").textContent = "Select a specific date or a repeating day";
                document.getElementById("error").style.visibility = "visible";
                validated = false;
            }

            if (date.length == 0 && daySelector.options[daySelector.selectedIndex].
                value != "Or select repeating day") {
                selectedDate = daySelector.options[daySelector.selectedIndex].value;
            }

            if (date.length != 0 && daySelector.options[daySelector.selectedIndex].
                value == "Or select repeating day") {
                selectedDate = date;
            }

            if (validated) {
                ringingMode = ringingMode.options[ringingMode.selectedIndex].value;
                wifi = wifi.options[wifi.selectedIndex].value;
                flashlight = flashlight.options[flashlight.selectedIndex].value;
                $.getJSON("/Profile/UpdateProfile?id="+ @Model.Id + "&title=" + title + '&ringingMode=' + ringingMode +
                    '&wifi=' + wifi + '&flashlight=' + flashlight +
                    '&date=' + selectedDate + '&from=' + from + '&to=' + to, function (result) {

                        if (result) {
                            alert("Profile Updated Successfully :)");
                            window.location.replace("/Profile/ViewProfiles");
                        }
                    });
                }


        });

    });





</script>
