@{
    ViewBag.Title = "SignUp";
}



<div class="container" id="div_center">

    <div class="row">

        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary" style="border-color: #808080; border-radius: 10px">
                <div class="panel-body">

                    <div class="row text-center">
                        <div class="col-md-12">
                            <label style="color: gray">
                                Sign up to<label style="color: green; margin-left: 5px; vertical-align: middle; font-size: x-large">Scheduler</label></label>
                        </div>
                    </div>

                    <div class="text-center">
                        <label id="error" style="color: red; visibility: hidden">Please fill out all the fields</label>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="uname">Username:</label>
                                <input type="text" class="form-control" id="uname" onclick="hide()" placeholder="Enter username">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pass">Password:</label>
                                <input type="password" class="form-control" id="pass" onclick="hide()" placeholder="Enter password">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="pass">Your email:</label>
                                <input type="email" class="form-control" id="email" onclick="hide()" placeholder="Enter your email">
                            </div>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 20px; margin-bottom:20px">
                        <div class="col-md-12">
                            <button id="signup" type="button" class="btn btn-success btn-block">Sign up</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>




<script type="text/javascript">

    function hide() {
        document.getElementById("error").textContent = "Please fill out all the fields";
        document.getElementById("error").style.visibility = "hidden";
    }

    $(document).ready(function () {

        $('#signup').click(function () {
            var uname = $("#uname").val();
            var pass = $("#pass").val();
            var email = $("#email").val();

            if (uname == null || uname.length == 0 || pass == null || pass.length == 0 || email == null
                || email.length == 0) {
                document.getElementById("error").style.visibility = "visible";
            }
            else {
                $.getJSON("/Home/Register?uname=" + uname + '&pass=' + pass + '&email='+ email, function (result) {
                    if (result == true) {
                        document.getElementById("error").textContent = "Username already exists..!";
                        document.getElementById("error").style.visibility = "visible";
                    }
                    else {
                        alert("Successfully Added..!");
                        window.location.replace("/Home/Index");
                    }

                });
            }
        });

    });

</script>
